
<!DOCTYPE html>
<html>
<head>
<title>Menucool ddmenu markup</title>
</head>
<body>
	<nav id="ddmenu">
		<div class="menu-icon"></div>
		<ul>
			<li class="no-sub"><a class="top-heading"
				href="http://www.google.com/">Transakcje</a></li>
			<li><a class="top-heading" href="http://www.menucool.com/">Gospodarka</a> <i class="caret"></i>
				<div class="dropdown">
					<div class="dd-inner">
						<ul class="column">
							<li><a href="hives">Rodziny</a></li>
							<li><a href="hives">Ule</a></li>
						</ul>
					</div>
				</div></li>
		</ul>
	</nav>
</body>
</html>